
header.jumbotron {
  background-color: #3887a8;
  color: white;
}

body {
    background-color: #3897a8;
}
nav {
  background-color: #ddd;  
  margin-bottom: 2em; 
  padding: 1em;  
}

nav h2 {
  font-size: 1.25rem;
}

/* keep images in check */
.card-deck .card {
  flex-basis: 200px;
  margin-bottom: 30px;
}


/* Modals */

th {
  text-align: right;
}

.stats {
  background-color: rgb(201, 199, 199);
}

.stat-bar {
  position: relative;
  width: 100%;
  color: green;
}

.characteristics {
  list-style-type: none;
}

.pokeSummary {
  line-height: 1.8;
}


