body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3887a8;
}


header.jumbotron {
  background-color: #3887a8;
  color: white;
}

nav {
  background-color: #ddd;  
  margin-bottom: 2em; 
  padding: 1em;  
}

nav h2 {
  font-size: 1.25rem;
}

/* keep images in check */
.card-deck .card {
  /* flex-basis: 200px; */
  max-height: 400px;
  margin-bottom: 15px;
}

img.card-img-top {
  /* width: 45vh; */
/* 
  margin-right: 15%;
  margin-left: 15%; */

  width: 50%;
  height: 50%;
  margin-top: 10px;
  margin-bottom: -20px;
  
}

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.card-text {
  font-size: 15px;
  
}

th {
  text-align: right;
}

.stats {
  background-color: rgb(201, 199, 199);
}

/* part of react now
.stat-bar {
  position: relative;
  width: 100%;
  color: green;
}
*/

.characteristics {
  list-style-type: none;
}

.pokeSummary {
  line-height: 1.8;
}


/* Types */

.bugType {
  background-color: rgb(115, 221, 115);
}

.dragonType {
  background-color: rgb(61, 61, 117);
}

.iceType {
  background-color: rgb(131, 247, 247);
}

.fightingType {
  background-color: rgb(161, 59, 22);
}

.fireType {
  background-color: rgb(255, 98, 41);
}

.flyingType {
  background-color: rgb(107, 105, 224);
}

.grassType {
  background-color: rgb(75, 221, 38);
}

.ghostType {
  background-color: rgb(80, 44, 121);
}

.groundType {
  background-color: rgb(177, 100, 0);
}

.electricType {
  background-color: rgb(255, 255, 5);
}

.normalType {
  background-color: rgb(173, 166, 166);
}

.poisonType {
  background-color: rgb(128, 0, 128);
}

.psychicType {
  background-color: rgb(238, 134, 151);
}
.rockType {
  background-color: rgb(165, 106, 67);
}
.waterType {
  background-color: rgb(30, 191, 255);
}
